# DEVICE=Python

URL=http://localhost:8096
USERNAME=
PASSWORD=

PLAYBACK_REPORTING_DB=C:\ProgramData\Jellyfin\Server\data\playback_reporting.db

# IS_PUBLIC=false

# IS_YEAR_REPLAY_DISABLED=false
# YEAR_REPLAY_LIMIT=100
# YEAR_REPLAY_YEAR_FORMAT=%Y
# YEAR_REPLAY_TITLE_TEMPLATE=Replay {year}

# IS_HALF_REPLAY_DISABLED=false
# HALF_REPLAY_LIMIT=50
# HALF_REPLAY_YEAR_FORMAT=%Y
# HALF_REPLAY_TITLE_TEMPLATE=Replay {year} H{half}

# IS_QUARTER_REPLAY_DISABLED=false
# QUARTER_REPLAY_LIMIT=25
# QUARTER_REPLAY_YEAR_FORMAT=%Y
# QUARTER_REPLAY_TITLE_TEMPLATE=Replay {year} Q{quarter}
